@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

:root {
    --primary-font: #FF4825;
    --secondary-font: #DF5E46;

    --primary-color: #111;
    --secondary-color: #fbfbfb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

html.light {
    --primary-color: #fbfbfb;
    --secondary-color: #111;
}

html.light {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}


body {
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.toggle {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 0;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
}

.toggle:focus {
    outline: none;
}

.welcome-content {
    height: 100vh;
}

.logo-nav {
    width: 75px;
    height: 75px;
}

nav {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-content {
    width: 600px;
    height: auto;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav-content li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.1rem;
    transition: color .4s ease;
}

.nav-content li a:hover {
    color: var(--secondary-font);
}

.hero {
    background-image: url(../assets/Background-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    width: auto;
    font-size: 2.5rem;
    letter-spacing: 1px;
    color: #fbfbfb;;
    z-index: 1;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -2;
}

.content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

#abt-h1,
#prct-h1 {
    margin-top: 150px;
    margin-left: -70px;
    margin-bottom: 50px;
    color: var(--secondary-color);
    font-size: 3.5rem;
    letter-spacing: .20rem;
    position: relative;
    z-index: 1;
}

#abt-h1::before {
    content: '#About Me';
}
#prct-h1::before {
    content: '#My Projects';
}

#abt-h1::before,
#prct-h1::before {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 100%;
    height: 100%;
    color: var(--secondary-font);
    z-index: -2;
}

.fa.fa-angle-right {
    padding: 10px;
    color: var(--secondary-font);
}

.about-wrapper p {
    font-size: 1.25rem;
    margin-bottom: 40px;
    margin-top: 15px;
}

.about-wrapper h2 {
    font-size: 1.5rem;
    margin-left: -20px;
}

.ABT {
    position: relative;
}

.portrait {
    position: absolute;
    top: -100px;
    right: -300px;
    width: 700px;
    height: 700px;
}

#projects-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 150px;
}

#projects-wrapper div p{
    font-size: 1.75rem;
    text-align: center;
    margin-bottom: 10px;
}

.project-photo {
    width: 400px;
    height: 300px;
    border: 4px solid var(--secondary-font);
}


footer {
    background-color: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fbfbfb;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .5rem 0 1rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fbfbfb;
}

.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: #DF5E46;
}

.footer-bottom {
    background-color: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: 4;
    font-weight: 200;
}
